<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>insert title</title>
</head>

<body>
    <p>this paragraph is visible</p>
    <!-- this is a comment. Not visible. -->
</body>

</html>