<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sell</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h2>Your messages</h2>
    <% if (messages.length===0){ %>
        <p>No messages yet.</p>
        <% } else { %>
            <table>
                <thead>
                    <tr>
                        <th>Book</th>
                        <th>From Buyer (ID)</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <% messages.forEach(msg=> { %>
                        <tr>
                            <td>
                                <%= msg.title %>
                            </td>
                            <td>
                                <%= msg.sender_id %>
                            </td>
                            <td>
                                <%= msg.message %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% } %>

</body>

</html>