<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sell</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div id="app">
        <% if (messages.length === 0){ %>
            <p>No messages yet.</p>
        <% } else { %>
            <table>
                <tr>
                    <th>Book</th>
                    <th>From Buyer (ID)</th>
                    <th>Message</th>
                </tr>
            </table>
        }
    <h2>Your messages</h2>


</body>

</html>